META_GRAPH_VERSION=v25.0
META_PAGE_ID=1082884688247950
META_PAGE_ACCESS_TOKEN=page_access_token_goes_here
META_AD_ACCOUNT_ID=act_1234567890
META_ADS_ACCESS_TOKEN=system_user_or_user_token_with_ads_management_goes_here
META_HANSIK_LATITUDE=22.000000
META_HANSIK_LONGITUDE=120.000000
META_HANSIK_RADIUS_KM=3
META_HANSIK_GOOGLE_MAPS_URL=https://maps.app.goo.gl/example
META_HANSIK_UBER_EATS_URL=https://www.ubereats.com/tw/store/example
META_HANSIK_FOODPANDA_URL=https://www.foodpanda.com.tw/restaurant/example
META_HANSIK_DELIVERY_URL=https://example.com/order
META_HANSIK_MESSAGE_URL=https://m.me/example
META_TAIWAN_UNIVERSAL_BENEFICIARY_ID=verified_beneficiary_id_goes_here
META_TAIWAN_UNIVERSAL_PAYER_ID=verified_payer_id_goes_here
META_IG_USER_ID=instagram_business_user_id_goes_here
META_IG_ACCESS_TOKEN=instagram_publish_token_goes_here
META_IG_IMAGE_URL=https://example.com/path/to/1080x1350.jpg
